.services__border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25px;
  border-bottom: 1px solid #222;
  margin-bottom: 10px;
  position: relative;
  left: -35px;
  padding-top: 9px;
}