.header__logo {
  background-image: url(../../../images/Logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  cursor: pointer;
}

.header__logo:hover {
  background-image: url(../../../images/Logo_orange.svg);
  
}