.photo-grid__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px black;
  width: 539px;
  height: 40px;
  padding-bottom: 48px;
}